h2{
font-size:20px;
color: goldenrod;
margin: 0px 0px; 
padding: 0px 0px 0px 0px;
background-color: black;
}

h1{
font-size: 20px;
color: black;
text-align:left;
margin: 0px 0px 0px 0px; 
padding: 0px;
background-color:goldenrod;
}

p#winners{
font-size: 40px;
}

body{
backgorund-color:lightgrey;
}